/* styles.css */

/* Tipografía */
body {
    font-family: 'Bangers', cursive;
  }
  
  /* Sección Inicio */
  #inicio {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  }
  
  #inicio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #inicio .content {
    position: relative;
    z-index: 1;
  }
  
  /* Colores personalizados */
  .bg-primary {
    background-color: #003366 !important; /* Azul marino */
  }
  
  .text-primary {
    color: #003366 !important;
  }
  
  .btn-primary {
    background-color: #FFD700; /* Amarillo */
    border-color: #FFD700;
    color: #003366;
  }
  
  .btn-primary:hover {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #003366;
  }